# improve performance for large repos (might cause some compability issues with GUI clients)
# [feature]
# 	manyFiles = true

[init]
	defaultBranch = main

[alias]

    lg1 = log --graph --abbrev-commit --decorate --date=relative --format=format:'%C(bold blue)%h %C(auto)- %s%C(reset)%C(auto)%d %C(dim white)- %an%C(reset) %C(green)(%ar)%C(reset)' --all
    lg2 = log --graph --abbrev-commit --decorate --format=format:'%C(bold blue)%h%C(reset) - %C(bold cyan)%aD%C(reset) %C(bold green)(%ar)%C(reset)%C(bold yellow)%d%C(reset)%n''          %C(white)%s%C(reset) %C(dim white)- %an%C(reset)' --all
    lg = !"git lg1"

    fixup = "!f() {                                                                                                                                            \
      git diff --cached --quiet && echo \"Nothing is staged\" && exit 1;                                                                                       \
      local filter;                                                                                                                                            \
      if [ -n $@ ] && [ -e $ ]; then                                                                                                                           \
        filter=\"-- $@\";                                                                                                                                      \
      fi;                                                                                                                                                      \
      fixup_commit=$(git log                                                                                                                                   \
            --graph --color=always --abbrev=7                                                                                                                  \
            --format=\"%C(bold blue)%h %C(auto)- %s%C(reset)%C(auto)%d %C(dim white)- %an%C(reset) %C(green)(%ar)%C(reset)\" $@ |                                     \
                fzf --ansi --no-sort --layout=reverse --tiebreak=index                                                                                         \
                    --preview=\"f() { set -- \\$(echo -- \\$@ | rg -o '\\b[a-f0-9]{7,}\\b'); [ \\$# -eq 0 ] || git show --color=always \\$1 $filter | delta; }; f {}\" \
                    --preview-window=bottom:60%);                                                                                                               \
      echo \"Amending commit: $fixup_commit\";                                                                                                                 \
      fixup_commit_sha=$(echo $fixup_commit | rg -o '\\b[a-f0-9]{7,}\\b');                                                                                     \
      echo \"SHA: '$fixup_commit_sha'\";                                                                                                                       \
      git commit --fixup=$fixup_commit_sha;                                                                                                                    \
      git rebase --update-refs --autosquash --autostash -i $fixup_commit_sha^1;                                                                                \
    };                                                                                                                                                         \
    f"

    ad = "!f() {                                                                                                                                            \
      local filter;                                                                                                                                            \
      if [ -n $@ ] && [ -e $ ]; then                                                                                                                           \
        filter=\"-- $@\";                                                                                                                                      \
      fi;                                                                                                                                                      \
      fixup_commit=$(git log                                                                                                                                   \
            --graph --color=always --abbrev=7                                                                                                                  \
            --format=\"%C(bold blue)%h %C(auto)- %s%C(reset)%C(auto)%d %C(dim white)- %an%C(reset) %C(green)(%ar)%C(reset)\" $@ |                              \
                fzf --ansi --no-sort --layout=reverse --tiebreak=index                                                                                         \
                    --preview=\"f() { set -- \\$(echo -- \\$@ | rg -o '\\b[a-f0-9]{7,}\\b'); [ \\$# -eq 0 ] || git show --color=always \\$1 $filter | delta; }; f {}\"                                                                                    \
                    --preview-window=bottom:60%);                                                                                                              \
      echo \"Amending commit: $fixup_commit\";                                                                                                                 \
      fixup_commit_sha=$(echo $fixup_commit | rg -o '\\b[a-f0-9]{7,}\\b');                                                                                     \
      echo \"SHA: '$fixup_commit_sha'\";                                                                                                                       \
      git rebase --update-refs --autostash -i $fixup_commit_sha^1;                                                                                             \
    };                                                                                                                                                         \
    f"

# [pager]
#     diff =

[core]
	editor = nvim

# [difftool]
# 	prompt = false # do not ask for confirmation

[diff]
    tool = nvimdiff # use neovim

[difftool "nvimdiff"]
    # no not open in read-only mode and move to right window
    cmd = "nvim -d \"$LOCAL\" \"$REMOTE\" -c \":wincmd l\""
    # cmd = "nvim -d --clean \"$LOCAL\" \"$REMOTE\" -c \":wincmd l\""
    # cmd = "nvim -d --startuptime /tmp/startup \"$LOCAL\" \"$REMOTE\" -c \":wincmd l\" -c \":profile start /tmp/profile.log\" -c \":profile func *\" -c \":profile file *\" -c \":lua vim.print('started!!!')\""
    # cmd = "/usr/bin/vimdiff /tmp/startup \"$LOCAL\" \"$REMOTE\" -c \":wincmd l\""
[merge]
	tool = nvimdiff
	keepBackup = false


# DELTA
[core]
    pager = delta

[interactive]
    diffFilter = delta --color-only


[include]
path = ~/.local/share/nvim/lazy/tokyonight.nvim/extras/delta/tokyonight_moon.gitconfig

[delta]
navigate = true    # use n and N to move between diff sections
line-numbers = true
true-color = always
features = decorations
light = false      # set to true if you're in a terminal w/ a light background color (e.g. the default macOS terminal)
side-by-side = false
syntax-theme = tokyonight_moon

[delta "decorations"]
    hunk-header-style = omit

[merge]
    conflictstyle = diff3

[diff]
    colorMoved = default
[user]
	name = Linus Boehm
	email = linusboehm@gmail.com
