# [](fg:#3B4252)\
# [](bg:#434C5E fg:#3B4252)\
# [](fg:#434C5E bg:#4C566A)\
# [](fg:#4C566A bg:#86BBD8)\
# [](fg:#86BBD8 bg:#06969A)\
# [](fg:#06969A bg:#33658A)\
# $git_metrics\
# $git_status\
format = """
$time\
$username\
$hostname\
$directory\
${custom.git_info}\
$python\
$status\
[\\$ ](fg:#618bed)\
"""
# $git_state\
# $docker_context\
# $git_branch\
# $c\
# $rust\
# [ ](fg:#33658A)\
command_timeout = 70
add_newline = false

# You can also replace your username with a neat symbol like  to save some space
[username]
show_always = true
# style_user = "bold fg:cyan bg:#3B4252"
style_user = "fg:cyan"
style_root = "bg:#3B4252"
format = '[$user]($style)'

[hostname]
style = "fg:yellow"
# style = "bold fg:cyan bg:#3B4252"
format = '[@$hostname:]($style)'
ssh_only = false

[directory]
# style = "fg:#86BBD8"
style = "fg:#b2e28a"
format = "[$path]($style)"
truncation_length = 3
truncation_symbol = "…/"

[custom.git_info]
command = '''
    git rev-parse --git-dir >/dev/null 2>&1 || exit

    is_bare=$(git rev-parse --is-bare-repository 2>/dev/null)
    if [ "$is_bare" = "true" ]; then
        echo "[BARE]"
        exit
    fi

    set -- $(git rev-parse --is-inside-work-tree --git-dir --git-common-dir --show-toplevel --abbrev-ref HEAD 2>/dev/null)
    [ $# -eq 5 ] || exit

    if [ "$1" = "true" ]; then
        if [ "$(realpath "$2")" != "$(realpath "$3")" ]; then
            echo "[$(basename $(dirname "$4"))][$5]"
        else
            echo "[$5]"
        fi
    fi
'''
style = "fg:#8ae2bf"
when = true
format = '[$output]($style)'
description = "Combined git info: repo name, branch, or bare status"

[c]
symbol = " "
disabled = true
# style = "bg:#86BBD8"
format = '[ ($version) ]($style)'

[docker_context]
disabled = true
symbol = " "
# style = "bg:#06969A"
format = '[ $context ]($style) $path'

[python]
disabled = false
symbol = ""
style = "fg:#86BBD8"
format = '[(\($symbol$virtualenv\))]($style)'

[git_branch]
disabled = true
symbol = ""
style = "fg:#8ae2bf"
format = '[\[$branch\]]($style)'
# format = '[ \[$symbol$branch ]($style)'

[git_state]
disabled = true
style = "fg:#8ae2bf"
rebase ='REBASE'
merge ='MERGE'
revert ='REVERTE'
cherry_pick = 'CHERRY-PICK'
bisect = 'BISECT'
am = 'AM'
am_or_rebase = 'AM/REBASE'
format = '[ \[$state( $progress_current/$progress_total)]($style)'
# format = '[ \[$symbol$branch ]($style)'

[git_metrics]
disabled = true
# only_nonzero_diffs = false
# disabled = false
# deleted_style = 'bold #ad143f'
deleted_style = '#e28a8d'
# added_style = 'bold #359a3d'
added_style = '#8ae2a8'
format = '(\([$added]($added_style)[$deleted]($deleted_style)\))'
# format = '(\([+$added]($added_style)[-$deleted]($deleted_style)\))'
# style = "fg:#8ae2bf"
# format = '[ \[$state( $progress_current/$progress_total)]($style) '
# format = '[ \[$symbol$branch ]($style)'

[git_status]
disabled = true
style = "fg:#8ae2bf"
# format = '[$conflicted$deleted$renamed$modified$staged$ahead_behind\]]($style)'
format = '[$conflicted$deleted$renamed$staged$ahead_behind\]]($style)'
conflicted = '󱐋'
# modified = ''

[rust]
disabled = true
# symbol = ""
# style = "bg:#86BBD8"
format = '[ ($version) ]($style)'

[time]
disabled = false
time_format = "%R" # Hour:Minute Format
style = "fg:#33658A"
format = '[\[$time\]]($style)'
# ~/.config/starship.toml

[status]
disabled = false
style = "bg:#ed567d fg:#3B4252"
# style = ""
format = '[\[$symbol$status\]$common_meaning]($style)'
symbol = "✗"
not_executable_symbol = "✗"
not_found_symbol = "✗"
sigint_symbol = "✗"
signal_symbol = "✗"
